---
layout: default
title: Home
css_extension:
-   href: "/assets/css/homepage.css"
js_extension:
-   src: "/assets/js/software-display.js"
    loading: "defer"
---


<div class="bg-secondary">
    <div class="container-xxl d-flex">
        <div class="pb-1">
            <span class="badge bg-white text-dark me-1">Upcoming</span><span class="fw-light" style="font-size: .85rem; color: white"> Throughput Computing 2023 July 10-14 - Virtual Registration Still Open -  <a class="text-white hover-primary" href="https://path-cc.io/events/throughput-computing-2023/">Event Page</a></span>
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container-xxl d-flex">
        <div class="pb-1">
            <span class="badge bg-white text-dark me-1">Registration Open</span><span  class="fw-light" style="font-size: .85rem; color: white"> Registration open for HTCondor European Workshop 2023 -  <a class="text-white hover-primary" href="/news/htcondor-european-workshop-2023/">Register Now</a></span>
        </div>
    </div>
</div>
{% include /get/hero_story.liquid %}
<div id="hero-image" class="vh-75 vh-md-50">
    <div class="container-xxl">
        <div class="row {% if hero_story.additional_image %}justify-content-center{% endif %}">
            {% if hero_story.additional_image %}
                <div class="col-12 col-sm-10 col-md-6 col-xxl-7 col- d-flex order-md-2">
                    <img class="img-fluid pt-3 pt-lg-0" src="{{ hero_story.additional_image.src | relative_url }}" alt="{{ hero_story.additional_image.alt }}" />
                </div>
            {% endif %}
            <div class="col-12 col-md-6 col-xxl-5 order-lg-1">
                <div class="p-3 my-3 d-flex flex-column shadow" id="hero-content-container">
                    <h3>{{ hero_story.title }}</h3>
                    <hr>
                    <div style="min-height: 150px">
                        {{ hero_story.excerpt | markdownify }}
                    </div>
                    {% unless hero_story.buttons %}
                        <a class="mt-auto me-auto btn btn-primary" href="{{ hero_story.url | relative_url }}">Read About Featured User</a>
                    {% else %}
                        {% if hero_story.buttons.length == 1 %}
                            <a class="mt-auto me-auto btn btn-primary" href="{{ buttons[0].href | relative_url }}">{{ buttons[0].text }}</a>
                        {% else %}
                            <div class="row justify-content-center mt-auto">
                                {% for button in hero_story.buttons %}
                                    <div class="col-auto">
                                        <a class="btn btn-primary" href="{{ button.href | relative_url }}">{{ button.text }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endunless %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-3 bg-light">
    <div class="container-xxl">
        <h4 class="p-5 text-center">HTCondor Software Suite (HTCSS) provides an array of services for automating and managing High Throughput workloads and computing capacity.</h4>
    </div>
</div>
<div class="container-xxl">
    <div class="pb-3 row justify-content-center">
        <div class="col-12 col-md-10">
            <div class="card">
                <div class="card-body">
                    <h3 class="mt-0 text-center">We are here to power your <a href="https://www.nsf.gov/publications/pub_summ.jsp?ods_key=nsf23526&org=NSF">NSF (CC*) Proposal (NSF 23-526)!</a></h3>
                    <p class="text-center mx-4">
                        Campuses with awards from the
                        <a href="https://www.nsf.gov/funding/pgm_summ.jsp?pims_id=504748">NSF Campus Cyberinfrastructure (CC*)</a>
                        Program play an important role in supporting Open Science. To date, 25 CC* campuses contribute to the processing and storage capacity of the
                        <a href="{{ '/services/open_science_pool/' | relative_url }}">Open Science Pool (OSPool)</a> that is
                        powered by <b>HTCSS</b>.
                    </p>
                    <p class="mb-0 d-flex justify-content-center pt-3">
                        <a class="btn btn-dark text-decoration-underline" href="mailto:cc-star-proposals@osg-htc.org">Email Us</a>
                        <a class="btn btn-dark text-decoration-underline ms-1" href="{{ 'https://osg-htc.org/campus-cyberinfrastructure.html#let-osg-help-with-your-cc-proposal' | relative_url }}">How We Can Help</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-1 order-3 d-none d-lg-block">
            <div class="card h-100" style="height:591px">
                <div class="px-2 py-1">
                    <a class="twitter-timeline" data-height="500" data-dnt="true" href="https://twitter.com/HTCondor?ref_src=twsrc%5Etfw">Tweets by HTCondor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-2 order-2">
            {% capture content %}
                <div class="ms-n2">
                    {% include get/all_news.liquid %}
                    {% for news in news_articles limit: 4 %}
                        <div class="">
                            {% include /cards/title-date.liquid
                                title=news.title
                                date=news.date
                                href=news.url
                            %}
                        </div>
                    {% endfor %}
                </div>
            {% endcapture %}
            {% include /cards/title-subtitle-content.html
                title="News"
                content=content
                title_href="/new.html"
            %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-3 order-1">
            {% include get/htcondor_ce_release.liquid %}
            {% include get/htcondor_feature_release.liquid %}
            {% include get/htcondor_lts_release.liquid %}
            <div class="card h-100">
                <div class="card-body">
                    <h3>Latest Releases</h3>
                    <hr/>
                    <div class="mb-2">
                        <h4><a class="text-secondary" href="{{ '/htcondor/overview/' | relative_url }}">HTCondor</a></h4>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <a class="fs-5" href="{{ '/htcondor/release-highlights/#feature-channel' | relative_url }}">Feature</a>
                                <span class="text-muted">{{ htcondor_feature_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_feature_release.release_number }}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <a class="fs-5" href="{{ '/htcondor/release-highlights/#long-term-support-channel' | relative_url }}">Long Term Support</a>
                                <span class="text-muted">{{ htcondor_lts_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_lts_release.release_number }}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4><a class="text-secondary" href="{{ '/htcondor-ce/overview/' | relative_url }}">HTCondor-CE</a></h4>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <a class="fs-5" href="{{ '/htcondor-ce/release-highlights/' | relative_url }}">Latest</a>
                                <span class="text-muted">{{ htcondor_ce_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_ce_release.release_number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include /get/software_data.liquid %}

<div class="bg-light">
    <div class="container-xxl py-3">
        <div id="software-display">
            <div class="row d-lg-none">
                <div class="col-12 col-lg-5 col-xxl-4 d-lg-flex px-0" id="htcss-accordion-container">
                    <div class="accordion accordion-flush" id="htcss-suite-accordion">
                        {% for data in software_data limit: 1 %}
                            <div class="accordion-item">
                                <div class="accordion-header" id="{{ data.id }}-header">
                                    <button id="{{ data.id }}-button" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ data.id }}-body" aria-expanded="true" aria-controls="{{ data.id }}-body">
                                        <div>
                                            <h3>{{ data.name }}</h3>
                                            <p>
                                                {{ data.short_description }}
                                            </p>
                                        </div>
                                    </button>
                                </div>
                                <div id="{{ data.id }}-body" class="accordion-collapse collapse show d-lg-none" aria-labelledby="{{ data.id }}-header" data-bs-parent="#htcss-suite-accordion">
                                    <div class="accordion-body">
                                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                                        {{ software_page.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for data in software_data offset: continue %}
                            <div class="accordion-item">
                                <div class="accordion-header" id="{{ data.id }}-header">
                                    <button id="{{ data.id }}-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ data.id }}-body" aria-expanded="false" aria-controls="{{ data.id }}-body">
                                        <div>
                                            <h3>{{ data.name }}</h3>
                                            <p>
                                                {{ data.short_description }}
                                            </p>
                                        </div>
                                    </button>
                                </div>
                                <div id="{{ data.id }}-body" class="accordion-collapse collapse d-lg-none" aria-labelledby="{{ data.id }}-header" data-bs-parent="#htcss-suite-accordion">
                                    <div class="accordion-body">
                                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                                        {{ software_page.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row d-none d-lg-flex">
                <div class="col-12 col-lg-5 col-xxl-4 d-lg-flex pe-0">
                    <div class="accordion accordion-flush">
                        {% for data in software_data limit: 1 %}
                        <div class="accordion-item">
                            <div class="accordion-header desktop-header" id="{{ data.id }}-desktop-header">
                                <button id="{{ data.id }}-desktop-button" class="accordion-button">
                                    <div class="me-1">
                                        <h3>{{ data.name }}</h3>
                                        <p>
                                            {{ data.short_description }}
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% for data in software_data offset: continue %}
                        <div class="accordion-item">
                            <div class="accordion-header desktop-header" id="{{ data.id }}-desktop-header">
                                <button id="{{ data.id }}-desktop-button" class="accordion-button collapsed">
                                    <div class="me-1">
                                        <h3>{{ data.name }}</h3>
                                        <p>
                                            {{ data.short_description }}
                                        </p>
                                    </div>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="desktop-software-brief-container" class="col pt-3">
                    {% for data in software_data limit: 1 %}
                    <div id="{{ data.id }}-desktop-brief" class="desktop-software-brief open px-2">
                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                        {{ software_page.content }}
                    </div>
                    {% endfor %}
                    {% for data in software_data offset: continue %}
                    <div id="{{ data.id }}-desktop-brief" class="desktop-software-brief px-2">
                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                        {{ software_page.content }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl my-4 my-lg-0">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 mb-4 order-lg-4 order-4 d-block d-lg-none">
            <div class="card h-100">
                <img src="{{ 'assets/images/python-logo.svg' | relative_url }}" class="py-4 px-2" alt="Python Logo">
                <div class="card-body border-top">
                    <h3>HTCondor comes with Python Bindings!</h3>
                    <hr/>
                    <div class="d-flex">
                        <a class="mt-auto" href="https://htcondor.readthedocs.io/en/latest/apis/python-bindings/tutorials/index.html">
                            <div class="row">
                                <div class="col-auto d-flex">
                                    <img alt="Arrow Up Right Circle" class="my-auto" height="30" src="{{ 'assets/images/arrow-up-right-circle.svg' | relative_url }}" />
                                </div>
                                <div class="col">
                                    Explore more with our Intro and Advanced Tutorials
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 mb-4 order-lg-1 order-3 d-block d-lg-none">
            <div class="card h-100" style="height:591px">
                <div class="px-2 pt-1">
                    <a class="twitter-timeline" data-height="500" data-dnt="true" href="https://twitter.com/HTCondor?ref_src=twsrc%5Etfw">Tweets by HTCondor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl my-4">
    <div class="shadow" style="border-radius: 3rem; overflow:hidden; background: #dcdcdd;">
        <div class="row gx-0">
            <div class="col-12 col-md-4 d-flex bg-light">
                <div class="my-auto px-3 py-3 py-md-0 text-center">
                    <h3>HTCSS User Map</h3>
                    <p>
                        HTCSS is used by academic, government, and commercial organizations across the globe looking to manage
                        their computational workloads. Add your organization to the map below!
                    </p>
                    <p>
                        <a
                                href="https://docs.google.com/forms/d/e/1FAIpQLSf0T4n1T8ccKI1-8zfxzicTNR4fAuN7ddjUV6vMRlJ4x4Ovxg/viewform"
                                class="btn btn-primary"
                        >
                            Add Your Organization
                        </a>
                    </p>
                </div>

            </div>
            <div class="col-12 col-md-8" style="background: #dcdcdd;">
                <iframe class="rounded-end-3" width="100%" height="400px" src="/user-map.html?zoom=2&scrollWheelZoom=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

