---
layout: default
title: Home
css_extension:
-   href: "/assets/css/homepage.css"
js_extension:
-   src: "/assets/js/software-display.js"
    loading: "defer"
---

<div id="hero-image" class="vh-75 vh-md-50">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-md-5 col-xxl-5">
                {% include /get/hero_story.liquid %}
                <div class="p-3 my-5 d-flex flex-column" id="hero-content-container">
                    <h3>{{ hero_story.title }}</h3>
                    <hr>
                    <p style="min-height: 150px">
                        {{ hero_story.excerpt }}
                    </p>
                    <a class="mt-auto me-auto btn btn-primary" href="{{ hero_story.url | relative_url }}">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl">
    <div class="row my-5">
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-1 order-3 d-none d-md-block">
            <div class="card h-100" style="height:591px">
                <div class="px-2 pt-1">
                    <a class="twitter-timeline" height="485px" data-dnt="true" data-theme="light" href="https://twitter.com/HTCondor?ref_src=twsrc%5Etfw">Tweets by HTCondor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-2 order-2">
            {% capture content %}
                <div class="ms-n2">
                    {% assign sorted_news = site.news | reverse %}
                    {% for news in sorted_news limit: 4 %}
                        <div class="">
                            {% include /cards/title-date.liquid
                                title=news.title
                                date=news.date
                                href=news.url
                            %}
                        </div>
                    {% endfor %}
                </div>
            {% endcapture %}
            {% include /cards/title-subtitle-content.html
                title="News"
                content=content
                title_href="/new"
            %}
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-3 order-1">
            {% include get/htcondor_ce_feature_release.liquid %}
            {% include get/htcondor_ce_lts_release.liquid %}
            {% include get/htcondor_feature_release.liquid %}
            {% include get/htcondor_lts_release.liquid %}
            <div class="card h-100">
                <div class="card-body">
                    <h3>Recent Releases</h3>
                    <hr/>
                    <div class="mb-2">
                        <h4><a class="text-secondary" href="{{ '/htcondor/download/' | relative_url }}">HTCondor</a></h4>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <span class="fs-5">Feature</span>
                                <span class="text-muted">{{ htcondor_feature_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_feature_release.release_number }}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <span class="fs-5">Long Term Support</span>
                                <span class="text-muted">{{ htcondor_lts_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_lts_release.release_number }}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4><a class="text-secondary" href="{{ '/htcondor-ce/download/' | relative_url }}">HTCondor-CE</a></h4>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <span class="fs-5">Feature</span>
                                <span class="text-muted">{{ htcondor_ce_feature_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_ce_feature_release.release_number }}</span>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-auto d-flex flex-column">
                                <span class="fs-5">Long Term Support</span>
                                <span class="text-muted">{{ htcondor_ce_lts_release.date | date: "%B %e, %Y" }}</span>
                            </div>
                            <div class="col-auto">
                                <span class="fs-1">{{ htcondor_ce_lts_release.release_number }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4 order-lg-4 order-4 d-none d-md-block">
            <div class="card h-100">
                <img src="{{ 'assets/images/python-logo.svg' | relative_url }}" class="card-img-top py-4 px-2" alt="Python Logo">
                <div class="card-body border-top">
                    <h3>HTCondor comes with Python Bindings!</h3>
                    <hr/>
                    <div class="d-flex">
                        <a class="mt-auto" href="https://htcondor.readthedocs.io/en/latest/apis/python-bindings/tutorials/index.html">
                            <div class="row">
                                <div class="col-auto d-flex">
                                    <img class="my-auto" height="30" src="{{ 'assets/images/arrow-up-right-circle.svg' | relative_url }}" />
                                </div>
                                <div class="col">
                                    Explore more with our Intro and Advanced Tutorials
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 mb-4 order-lg-5 order-5">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h3>Exceptional Features</h3>
                    <div><span class="text-muted">All of the qualities that might make HTCSS a great fit for your workloads!</span></div>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="fs-5">Compatible with your current Source Code</p>
                            <p>
                                No special programming is required to use HTCondor. HTCondor is able to run non-interactive programs.
                            </p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="fs-5">Pools can be joined Together</p>
                            <p>
                                Flocking, a feature of HTCondor, allows jobs submitted within a first pool of HTCondor machines to execute on a second pool.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex mt-auto py-2">
                        <a class="ms-auto" href="https://htcondor.readthedocs.io/en/latest/overview/exceptional-features.html">
                            <div class="row justify-content-end">
                                <div class="col">
                                    View All Exceptional Features
                                </div>
                                <div class="col-auto d-flex">
                                    <img class="my-auto" height="30" src="{{ 'assets/images/arrow-up-right-circle.svg' | relative_url }}" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include /get/software_data.liquid %}

<div class="bg-light">
    <div class="container-xxl py-4 p-md-5 px-xxl-0">
        <h3 class="mb-5 pb-5 text-center">HTCSS provides an array of services for automating and managing batch workloads and computing resources.</h3>
        <div id="software-display">
            <div class="row">
                <div class="col-12 col-lg-5 col-xxl-4 d-lg-flex" id="htcss-accordion-container">
                    <div class="accordion accordion-flush my-lg-auto" id="htcss-suite-accordion">
                        {% for data in software_data limit: 1 %}
                            <div class="accordion-item">
                                <div class="accordion-header" id="{{ data.id }}-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ data.id }}-body" aria-expanded="true" aria-controls="{{ data.id }}-body">
                                        <div>
                                            <h3>{{ data.name }}</h3>
                                            <p>
                                                {{ data.short_description }}
                                            </p>
                                        </div>
                                    </button>
                                </div>
                                <div id="{{ data.id }}-body" class="accordion-collapse collapse show d-lg-none" aria-labelledby="{{ data.id }}-header" data-bs-parent="#htcss-suite-accordion">
                                    <div class="accordion-body">
                                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                                        {{ software_page.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for data in software_data offset: continue %}
                            <div class="accordion-item">
                                <div class="accordion-header" id="{{ data.id }}-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ data.id }}-body" aria-expanded="false" aria-controls="{{ data.id }}-body">
                                        <div>
                                            <h3>{{ data.name }}</h3>
                                            <p>
                                                {{ data.short_description }}
                                            </p>
                                        </div>
                                    </button>
                                </div>
                                <div id="{{ data.id }}-body" class="accordion-collapse collapse d-lg-none" aria-labelledby="{{ data.id }}-header" data-bs-parent="#htcss-suite-accordion">
                                    <div class="accordion-body">
                                        {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                                        {{ software_page.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="desktop-software-brief-container" class="d-none d-lg-block col">
                    {% for data in software_data limit: 1 %}
                        <div id="{{ data.id }}-desktop-brief" class="desktop-software-brief open px-3">
                            {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                            {{ software_page.content }}
                        </div>
                    {% endfor %}
                    {% for data in software_data offset: continue %}
                        <div id="{{ data.id }}-desktop-brief" class="desktop-software-brief px-3">
                            {% include /get/software_page.liquid software_name=data.id page_name="brief" %}
                            {{ software_page.content }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="card h-100">
        <div class="card-body">
            <h3>Supported By</h3>
            <div><span>We thank these institutions for generously supporting the project!</span></div>
            <hr/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 d-flex order-2 order-md-1">
                    <a class="py-4 d-block m-auto" href="https://ls.wisc.edu/">
                        <img class="mw-100" height="150" src="assets/images/UW_Madison_Logo.png" alt="UW Madison Logo" />
                    </a>
                </div>
                <div class=" col-12 col-md-6 col-lg-4 d-flex order-3 order-md-3 order-lg-2">
                    <a class=" py-4 d-block m-auto" href="https://www.nsf.org">
                        <img class="" height="200" src="assets/images/NSF_Logo.jpg" alt="NSF Logo" />
                    </a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 d-flex order-2 order-md-3 order-lg-3">
                    <a class="py-4 d-block m-auto" href="https://morgridge.org/">
                        <img class="" height="80" src="assets/images/Morgridge_Logo.svg" alt="Morgridge Logo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




