---
layout: software-page
software: HTCondor
title: HTCondor Download
---

{% include get/htcondor_feature_release.liquid %}
{% include get/htcondor_lts_release.liquid %}

{% assign release_numbers = htcondor_feature_release.release_number | strip | split: "." %}
{% assign htcondor_feature_release_first_number = release_numbers[0] |  times: 1 %}

{% assign release_numbers = htcondor_lts_release.release_number | strip | split: "." %}
{% assign htcondor_lts_release_first_number = release_numbers[0] |  times: 1 %}



<div id="feature-channel" class="mb-4 card">
    <div class="card-body">
        <h3><span class="text-secondary">{{ htcondor_feature_release.release_number }}</span> Feature Release</h3>
        <p>{{ htcondor_feature_release.date | date: "%B %e, %Y" }}</p>
        <div>
            {{ htcondor_feature_release.content | markdownify }}
        </div>
        <hr>
        <p>
            Feature releases distribute HTCondor's new features and also
            incorporates bug fixes. Most people should use choose this channel and stay up-to-date with
            HTCondor's latest features.
        </p>
        <p class="">
            Consultation of the <a href="https://htcondor.readthedocs.io/en/latest/version-history/feature-versions-10-x.html">Detailed Notes</a> recommended prior to upgrading.
        </p>
        <div>
            <a class="btn btn-primary me-3" href="https://htcondor.readthedocs.io/en/latest/getting-htcondor/">Installation Guide</a>
            <a class="btn btn-primary" href="{{ '/htcondor/release-highlights/index.html#feature-channel' | relative_url }}">Release Notes</a>
        </div>
    </div>
</div>
<div id="long-term-support-channel" class="mb-4 card">
    <div class="card-body">
        <h3><span class="text-secondary">{{ htcondor_lts_release.release_number }}</span> Long Term Support Release</h3>
        <p>{{ htcondor_lts_release.date | date: "%B %e, %Y" }}</p>
        <div>
            {{ htcondor_lts_release.content | markdownify }}
        </div>
        <hr>
        <p>
            Long Term Support (LTS) releases only bug fixes to a particular, fixed set of
            features from the current LTS channel.  As a result, each LTS channel tends to
            become more stable over time; read the <a href="https://htcondor.readthedocs.io/en/latest/version-history/">release notes</a>
            from the current channel to make sure you aren't missing any features you
            need.
        </p>
        <p>
            If you can't regularly upgrade your machines, this may be the channel
            for you.
        </p>
        <p>
            Periodically, we will update the set of features that we support with
            bug fixes and start a new LTS channel.  This will not the change the set
            of features available to an existing or automatically-updated installation of
            a LTS channel; you have to make the decision to change manually.  However,
            after a time, we will stop issuing additional bug fixes for older LTS
            channels.
        </p>
        <p>
            Consultation of the <a href="https://htcondor.readthedocs.io/en/lts/version-history/lts-versions-10-0.html">Detailed Notes</a> recommended prior to upgrading.
        </p>
        <div>
            <a class="btn btn-primary me-3" href="https://htcondor.readthedocs.io/en/{{htcondor_lts_release_first_number}}.0/getting-htcondor/index.html">Installation Guide</a>
            <a class="btn btn-primary" href="{{ '/htcondor/release-highlights/index.html#long-term-support-channel' | relative_url }}">Release Notes</a>
        </div>
    </div>
</div>
