---
layout: software-page
software: HTCondor
title: HTCondor - Release Highlights
---

<div class="py-2">
  <a class="btn btn-primary" href="#feature-channel">Feature Channel</a>
  <a class="btn btn-primary" href="#long-term-support-channel">Long Term Support Channel</a>
</div>
<div class="mb-4 card">
  <div class="card-body">
    <h3 id="feature-channel">Feature Channel <span class="text-muted">(Previously Current Channel)</span></h3>
    {% include /get/htcondor_feature_releases.liquid %}
    {% for release in htcondor_feature_releases %}
      <b>{{ release.release_number }}</b>
      <div>
        {{ release.content | markdownify }}
      </div>
    {% endfor %}
  </div>
</div>
<div class="mb-4 card">
  <div class="card-body">
    <h3 id="long-term-support-channel">Long Term Support Channel</h3>
    {% include /get/htcondor_lts_releases.liquid %}
    {% for release in htcondor_lts_releases %}
    <b>{{ release.release_number }}</b>
    <div>
      {{ release.content | markdownify }}
    </div>
    {% endfor %}
  </div>
</div>