---
layout: software-page
software: HTCondor
title: HTCondor - Release Highlights
---

<div class="py-2">
  <a class="btn btn-primary" href="#feature-channel">Feature Channel</a>
  <a class="btn btn-primary" href="#long-term-support-channel">Long Term Support Channel</a>
</div>
<div class="mb-4 card">
  <div class="card-body">
    <h3 id="feature-channel">Feature Channel</h3>
    {% include /get/htcondor_feature_releases_recent.liquid %}
    {% for release in htcondor_feature_releases_recent %}
      <b>{{ release.release_number }}</b>
      <div>
        {{ release.content | markdownify }}
      </div>
    {% endfor %}

    <div class="collapse" id="old-feature-release-highlights">
      {% include /get/htcondor_feature_releases_old.liquid %}
      {% for release in htcondor_feature_releases_old %}
      <b>{{ release.release_number }}</b>
      <div>
        {{ release.content | markdownify }}
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#old-feature-release-highlights" role="button" aria-expanded="false" aria-controls="old-feature-release-highlights">
      Expand all Feature release highlights
    </a>
  </div>
</div>
<div class="mb-4 card">
  <div class="card-body">
    <h3 id="long-term-support-channel">Long Term Support Channel</h3>
    {% include /get/htcondor_lts_releases_recent.liquid %}
    {% for release in htcondor_lts_releases_recent %}
    <b>{{ release.release_number }}</b>
    <div>
      {{ release.content | markdownify }}
    </div>
    {% endfor %}

    <div class="collapse" id="old-lts-release-highlights">
      {% include /get/htcondor_lts_releases_old.liquid %}
      {% for release in htcondor_lts_releases_old %}
      <b>{{ release.release_number }}</b>
      <div>
        {{ release.content | markdownify }}
      </div>
      {% endfor %}
    </div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#old-lts-release-highlights" role="button" aria-expanded="false" aria-controls="old-lts-release-highlights">
      Expand all LTS release highlights
    </a>
  </div>
</div>