<a href="{{ data.url | relative_url }}">
    <div class="card h-100">
        {% if data.image %}
            <img alt="{{ data.image.alt }}" src="{{ data.image.path | relative_url }}" class="card-img-top">
        {% endif %}
        <div class="card-body border-top">
            <h3><a class="text-decoration-none" href="{{ data.url | relative_url }}">{{ data.title }}</a></h3>
            <div>
                <span class="text-muted">{{ data.date | date: "%B %e, %Y"}}</span>
            </div>
            <hr/>
            <p>
                {{ data.excerpt }}
            </p>
        </div>
    </div>
</a>