<div id="header">
    <div class="midHeader">
        <div class="iconHeader">
            <a href="{{ '/index.html' | relative_url }}"><img height="75" alt="Condor High Throughput Computing" src="{{ '/assets/images/CondorTitle.gif' | relative_url }}" style="border:0"></a>
        </div>

        <div class="navAndSearch">
            <div class="navBar">
                <span class="doNotDisplay">Navigation:</span>
                <a href="{{ '/index.html' | relative_url }}">Home</a> |
                <a href="{{ '/new.html' | relative_url }}">News</a> |
                <a href="{{ '/downloads.html' | relative_url }}">Download</a> |
                <a href="{{ '/publications.html' | relative_url }}">Publications</a> |
                <a href="mailto:htcondor-admin@cs.wisc.edu">Contact Us</a>
            </div>

            <div class="searchForm" >
                <script>
                (function() {
                    var cx = '010754594835990937497:xijuwhbknew';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
                </script>
                <gcse:searchbox-only></gcse:searchbox-only>
            </div>
        </div>
    </div>
</div>