---

---
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
) !default;

@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/bootstrap-utilities';
@import 'bootstrap/navbar';
@import 'bootstrap/nav';
@import 'bootstrap/bootstrap';
@import 'bootstrap/transitions';
@import "custom";

