---

---
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
) !default;

$primary: #3d5c7a;
$secondary: #d31145;
$navbar-light-color: $primary;
$navbar-light-hover-color: lighten($primary, 25);
$navbar-light-active-color: $primary;

#main-copy {
  h1, h2, h3, h4 {
    color: $primary;
    font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  }
}


@import 'bootstrap/bootstrap-grid';
@import 'bootstrap/bootstrap-utilities';
@import 'bootstrap/bootstrap-reboot';
@import 'bootstrap/navbar';
@import 'bootstrap/nav';
@import 'bootstrap/transitions';
@import 'bootstrap/alert';
@import "custom";

