---
layout: software-page
software: HTCondor-CE
title: HTCondor-CE Release Highlights
---

<div class="mb-4 card">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <h3>Latest Releases</h3>
            </div>
            <div class="col-auto d-flex ps-sm-0">
                <b class="my-auto"><a class="text-secondary" href="https://htcondor.com/htcondor-ce/v6/releases/#htcondor-ce-6-version-history">Detailed Notes &#11023;</a></b>
            </div>
        </div>
        {% include /get/htcondor_ce_releases_recent.liquid %}
        {% for release in htcondor_ce_releases_recent %}
        <div class="d-flex flex-row">
            <b>{{ release.release_number }}</b>
            <span class="px-1">-</span>
            <span>{{ release.date  | date: "%B %e, %Y" }}</span>
        </div>
        <div>
            {{ release.content | markdownify }}
        </div>
        {% endfor %}

        <div class="collapse" id="old-release-highlights">
            {% include /get/htcondor_ce_releases_old.liquid %}
            {% for release in htcondor_ce_releases_old %}
            <div class="d-flex flex-row">
                <b>{{ release.release_number }}</b>
                <span class="px-1">-</span>
                <span>{{ release.date  | date: "%B %e, %Y" }}</span>
            </div>
            <div>
                {{ release.content | markdownify }}
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#old-release-highlights" role="button" aria-expanded="false" aria-controls="old-release-highlights">
            Expand all release highlights
        </a>
    </div>
</div>