---
layout: software-page
software: HTCondor-CE
title: HTCondor-CE - Release Highlights
---

<div class="mb-4 card">
    <div class="card-body">
        <h3 id="feature-channel">Latest Releases</h3>

        {% include /get/htcondor_ce_releases_recent.liquid %}
        {% for release in htcondor_ce_releases_recent %}
        <b>{{ release.release_number }}</b>
        <div>
            {{ release.content | markdownify }}
        </div>
        {% endfor %}

        <div class="collapse" id="old-release-highlights">
            {% include /get/htcondor_ce_releases_old.liquid %}
            {% for release in htcondor_ce_releases_old %}
            <b>{{ release.release_number }}</b>
            <div>
                {{ release.content | markdownify }}
            </div>
            {% endfor %}
        </div>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#old-release-highlights" role="button" aria-expanded="false" aria-controls="old-release-highlights">
            Expand all release highlights
        </a>
    </div>
</div>