<div id="footer" class="border-top">
    <div class="container py-4 mt-auto">
        <div class="row">
            <div class="col text-center">
                For comments or questions about this website, please email
                <a href="mailto:htcondor-admin@cs.wisc.edu">htcondor-admin@cs.wisc.edu</a><br />
                This work is supported by <a href="https://www.nsf.gov/div/index.jsp?div=OAC">NSF</a> under Cooperative Agreement <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2030508">OAC-2030508</a> as part of the <a href="https://path-cc.io/">PATh Project</a>. <br />
                <script type="text/javascript">
                    document.write("Updated &raquo; "+lastMod(document.lastModified))
                </script>
            </div>
        </div>
    </div>
</div>

