
<header id="header" class="bg-light mb-4 ">
    <div class="container-xxl">
        <nav id="mobile-header" class="py-3 d-flex d-lg-none navbar navBar navbar-expand-lg navbar-light w-100">
            <a href="{{ '/index.html' | relative_url }}"><img height="50" alt="Condor High Throughput Computing" src="{{ '/assets/images/HTCondor_red_blk.svg' | relative_url }}" style="border:0"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-navbar" aria-controls="mobile-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto mt-auto">
                    {% for nav_item in site.data.header-links.nav_items %}
                        {% include layout/mobile-nav-item.html nav_item=nav_item %}
                    {% endfor %}
                    <li class="nav-item mt-2">
                        <div style="height:40px; width: 250px;">
                            {% include google-search-bar.html %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="desktop-header" class="d-none d-lg-block">
            <nav class="navbar py-3 navBar navbar-expand-lg navbar-light w-100">
                <a href="{{ '/index.html' | relative_url }}"><img height="50" alt="Condor High Throughput Computing" src="{{ '/assets/images/CondorTitle.png' | relative_url }}"></a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto mt-auto">
                        {% for nav_item in site.data.header-links.nav_items %}
                            {% include layout/desktop-nav-item.html nav_item=nav_item %}
                        {% endfor %}
                        <li class="nav-item ms-2">
                            <div style="height:40px; width: 250px;">
                                {% include google-search-bar.html %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div id="header-drawer" class="border d-none d-lg-block" hidden>
        <div class="container-xxl">
            <div id="software-desktop-drawer" class="drawer row justify-content-center" hidden>

                {% assign software = site.data.header-links.nav_items | where: "id", "software" %}
                {% assign dropdowns = software[0].dropdowns %}
                {% include layout/dropdown-tables.html dropdowns=dropdowns %}

            </div>
            <div id="help-and-support-desktop-drawer" class="drawer row justify-content-center" hidden>

                {% assign help_and_support = site.data.header-links.nav_items | where: "id", "help-and-support" %}
                {% assign dropdowns = help_and_support[0].dropdowns %}
                {% include layout/dropdown-tables.html dropdowns=dropdowns %}

            </div>
            <div id="community-desktop-drawer" class="drawer row justify-content-center" hidden>

                {% assign community = site.data.header-links.nav_items | where: "id", "community" %}
                {% assign dropdowns = community[0].dropdowns %}
                {% include layout/dropdown-tables.html dropdowns=dropdowns %}

            </div>
        </div>
    </div>
</header>
