{% assign software =  site.data.software-links | where: "software", page.software | first %}
{% assign links = software.links %}


<ul class="nav nav-pills flex-column">
    {% for link in links %}
        {% assign link_url = link.path | relative_url %}
        {% assign current_url = page.url | remove: ".html" %}
        <li class="nav-item">
            <a
                class="nav-link {{ link.class }} {% if link_url == current_url %}active{% endif %}"
                href="{{ link.path | relative_url }}"
            >
                {{ link.label }}
            </a>
        </li>
    {% endfor %}
</ul>